.top{position:fixed;width:100%;z-index:1;top:0}
.card{box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)}
.bar {position:static;float:left;white-space:normal}
.black{color:#fff!important;background-color:#000!important}
